styleForms.css
@font-face {
    font-family: 'AGaramondPro';
    src:
        local('AGaramondPro-Regular'),

        url('../font/AGaramondPro-Regular.woff')
        format('woff'),
    
        url('../font/AGaramondPro-Regular.otf')
        format('truetype');
}
@font-face {
    font-family: 'AGaramondPro';
    font-style: italic;
    src:
        local('AGaramondPro-Bold'),

        url('../font/AGaramondPro-Bold.woff')
        format('woff'),
    
        url('../font/AGaramondPro-Bold.otf')
        format('truetype');
}
@font-face {
    font-family: 'AGaramondPro';
    font-style: italic;
    src:
        local('AGaramondPro-Italic'),

        url('../font/AGaramondPro-Italic.woff')
        format('woff'),
    
        url('../font/AGaramondPro-Italic.otf')
        format('truetype');
}
@font-face {
    font-family: 'AGaramondPro';
    font-style: italic;
    font-weight: bold;
    src:
        local('AGaramondPro-BoldItalic'),

        url('../font/AGaramondPro-BoldItalic.woff')
        format('woff'),
    
        url('../font/AGaramondPro-BoldItalic.otf')
        format('truetype');
}

:root{
    --bleu : #18273D ;
    --beige : #F7F4EC ;
    --brown : #bfa959;
    --soustitrecolor :#999 ;
    --textcolor :#333 ;
    --hovernavcolor :#333 ;
    --hoverbuttoncolor :#bfa959 ;
}

html{
    font-family: 'AGaramondPro';
}
   
*{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       scrollbar-color: transparent transparent; /* thumb and track color */
       scrollbar-width: 0px;
   }

nav{
    background-color: #18273d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{
    font-family: "garamond";
    color:white;
    transition: 0.3s;
    text-decoration:none;
    font-size: 22px;
}

nav ul li a:hover{
    color:#bbb6b6;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 50px;
}

nav ul{
    display: inline-block;
}

nav ul li img{
    width: 50%;
}

nav header img{
    width: 70%;
}



@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  /* body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  } */
  
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* fin de style commun*/
.wrapper {
  display: grid;
  grid-template-columns: repeat (3,1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.boxone{
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.boxtwo{
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}
.boxthree{
  grid-column: 1/ 4;
  grid-row: 20% 20% 20% 20% 20%;
}
.boxleft{
  grid-column: 1 / 3 ;
  grid-row: 1 / 3;
}
}
h1 {
    display: grid;
    grid-template-columns: 50% 50% ; 
    grid-template-rows: 100%;
    grid-area: span;
}
h2 { 
  display:flex;
  width: 100%;
  flex-direction: column;
}
div {
  display:center;
  display:flex;
  flex-direction: row;
}
h4 { 
  display:flex;
  width: 33%;
  flex-direction: column-reverse;
}

#formulaire {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    grid-template-rows: 15% 10% 10% 10% 10% 10% 10% 10% 15%;
}
#debformulaire {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 100%;
}
#suiteformulaire {
  display: grid;
  grid-template-columns: 75% 25% ;
  grid-template-rows: 50% 50%;
}
#midformulaire {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% ;
      grid-template-rows: 15% 10% 10% 10% 10% 10% 10% 10% 15%;
}
#finformulaire {
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  grid-template-rows: 25% 25%;
}
#articles {
    grid-area: inherit;
}

#pub {
    grid-area: 100%;
}