@font-face 
{
  font-family: "garamond";
  src: url("/font/AGaramondPro-Regular.otf");
}

@font-face 
{
    
  font-family: "garamondbold";
  src: url("/font/AGaramondPro-Bold.otf");
}

   *{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       scrollbar-color: transparent transparent; /* thumb and track color */
       scrollbar-width: 0px;
      
   }


   *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }

  html{
    background-color: #F7F4EC;
  }

  /**** Navigateur ****/

nav{
    background-color: #18273d;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li a{
    font-family: "garamond";
    color:white;
    transition: 0.3s;
    text-decoration:none;
    font-size: 22px;
}

nav ul li a:hover{
    color:#bbb6b6;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 50px;
}

nav ul{
    display: inline-block;
}

nav ul li img{
    width: 50%;
}

nav header img{
    width: 70%;
}


/**** Slider ****/

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 40%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }

  
  .carousel__slide:nth-child(1) {
    background-image: url("../image/slide1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel__slide:nth-child(2) {
    background-image: url("../image/slide2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel__slide:nth-child(3) {
    background-image: url("../image/slide3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 20%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #18273D;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  /**** Marquee ****/

aside {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #F7F4EC;
}
  
marquee {
    height: 300px;
    width: 100%;
}
  
aside marquee img {
    height: 300px;
    padding-right: 50px;

}

aside h1{
  font-size: 48px;
  margin-bottom:40px;
  margin-top:20px;
  font-family: garamond;
  color:#18273D;
}

aside .line{
  width: 300px;
  height: 3px;
  background-color: #18273D;
  margin-right: 50px;
  margin-left:50px;
}

aside .superline{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:40px;
}


/**** articles ****/

article{
  display:grid;
  grid-template-rows: 200px 800px 1fr;
  grid-template-columns: repeat(4, 1fr); 
  justify-items: center;
}

article .titre{
  grid-row:1/2;
  grid-column: 1/-1;
  color:#18273D;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:40px;
}

article .titre .line{
  width: 300px;
  height: 3px;
  background-color: #18273D;
  margin-right: 50px;
  margin-left:50px;
}

article .titre h1{
  font-size: 48px;
  font-family: garamond;
  color:#18273D;
}

article .une{
  grid-row:2/3;
  grid-column: 1/4;
  padding-left:50px;
  padding-right: 100px;
  font-family: garamond;
}

article .une img{
 width: 700px;
}

article .une h4{
  font-size: 23px;
}

article img{
  width: 50%;
}

.artaside{
  grid-row:2/3;
  grid-column: 4/5;
  color:#333333;
  border-left: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0), 
      #BFA959, rgba(0, 0, 0, 0)
    ) 1 100%;
}

.artaside h3{
 font-size: 38px;
 font-family: garamondbold;
}

.artaside p, h3{
  padding-left: 20px;
  padding-right: 20px;
}


.art1{
  grid-row:3/4;
  grid-column: 1/2;
  padding: 40px;
  border-right: 2px;
}

.art2{
  grid-row:3/4;
  grid-column: 2/3;

}

.art3{
  grid-row:3/4;
  grid-column: 3/4;
  padding: 40px;
}

.art4{
  grid-row:3/4;
  grid-column: 4/5;
  padding: 40px;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0), 
      #BFA959, rgba(0, 0, 0, 0)
    ) 1 100%;
}

.art2{
  padding: 40px;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0), 
      #BFA959, rgba(0, 0, 0, 0)
    ) 1 100%;
}

.sous_titre{
  font-size: 35px;
  font-family: garamondbold;
  padding:5px 0;
}

.artimg{
  width: 300px;
}

article .une h2{
  font-size: 40px;
  font-family: garamondbold;
  padding-top:30px;
  padding-bottom:30px;
}

article p{
  font-family: garamond;
  font-size: 20px;
}

article p, .sous_titre, h2{
  color:#333333
}

/**** Logos ****/

.logos{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #BFA959;
  padding:40px 0;
  border-top:3px solid #18273d;
  border-bottom:3px solid #18273d;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.logos img{
  width: 100px;
}

 #titre{
  grid-row:1/2;
  grid-column: 1/-1;
  color:#18273D;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:40px;
}

#titre .line{
  width: 300px;
  height: 3px;
  background-color: #18273D;
  margin-right: 50px;
  margin-left:50px;
}

#titre h1{
  font-size: 48px;
  font-family: garamond;
  color:#18273D;
  padding-bottom:20px;
}

/* Footer */

footer{
  display:flex;
  justify-content: space-around;
  background-color: #18273d;
  padding:40px 0;
  font-family: "garamond";
  flex-wrap: wrap;
}

footer h5{
    color: #F7F4EC;
    transition: 0.3s;
    text-decoration: none;
    font-size: 22px;
    padding:30px 0;
}

.partenaires a, .coordonner a {
  display: block;
  color: #F7F4EC;
  text-decoration: none;
  font-size: 20px;
  transition:0.3s;
}

.coordonner a {
text-align: center;
padding:5px 0;
}

.partenaires a:hover, .coordonner a:hover  {
  color:#bbb6b6;
}

.coordonner{
  padding:30px 0;
}

.btn {
  background-color: #BFA959;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor:pointer;
  border-radius:5px;
}

.btn:hover {
  opacity: 0.8;
}

.reseau{
  display: flex;
  justify-content: space-between;
}




/* Responsive */

@media screen and (max-width: 1200px) {
    section {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
  nav ul li img{
    display: none;
  }

    nav ul li a{
      font-size: 15px;
    }

    nav{
      flex-wrap: nowrap;
    }

  footer{
    flex-direction: column;
   justify-content: center;
   text-align: center;
  }

  .center{
    order: -3;
  }

  .reseau{
    justify-content: center;
  }

  .reseau img{
    padding : 0 20px;
  }
}

