styleForms.css

}
flex{
    flex-direction: column;
}
header {
  flex-direction: column;
}
/*body
  {
    height: 100%;
    display: flex;
    f lex-direction: column;
    background-color: #12355B;
  
  }
  
.container { /*change the size of landscape here */
    
}

@font-face {
    font-family: "garamond";
    src: url("/font/AGaramondPro-Regular.otf");
   }

   @font-face {
    font-family: "garamondbold";
    src: url("/font/AGaramondPro-Bold.otf");
   }

   *{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       scrollbar-color: transparent transparent; /* thumb and track color */
       scrollbar-width: 0px;
   }

nav{
    background-color: #18273d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{
    font-family: "garamond";
    color:white;
    transition: 0.3s;
    text-decoration:none;
    font-size: 22px;
}

nav ul li a:hover{
    color:#bbb6b6;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 50px;
}

nav ul{
    display: inline-block;
}

nav ul li img{
    width: 50%;
}

nav header img{
    width: 70%;
}
h1 {
    display: flex;
    width: 100%;
    flex-direction: row;  
}
h2 {
  display:flex;
  width: 100%;
  flex-direction: column;
}
div {
  display:center;
  display:flex;
  flex-direction: row;
}
h4 { 
  display:flex;
  width: 33%;
  flex-direction: column-reverse;
}

#formulaire {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    grid-template-rows: 15% 10% 10% 10% 10% 10% 10% 10% 15%;
}
#debformulaire {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 100%;
}
#suiteformulaire {
  display: grid;
  grid-template-columns: 75% 25% ;
  grid-template-rows: 50% 50%;
}
#midformulaire {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% ;
      grid-template-rows: 15% 10% 10% 10% 10% 10% 10% 10% 15%;
}
#finformulaire {
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  grid-template-rows: 25% 25%;
}
#articles {
    grid-area: inherit;
}

#pub {
    grid-area: 100%;
}