
      @font-face 
      {
        font-family: "garamond";
        src: url("/font/AGaramondPro-Regular.woff");
      }
      
      @font-face 
      {
          
        font-family: "garamondbold";
        src: url("/font/AGaramondPro-Bold.woff");
      }
      

      *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scrollbar-color: transparent transparent; /* thumb and track color */
        scrollbar-width: 0px;
        }

   /* header*/
      nav{
          background-color: #18273d;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      
      nav ul li a{
          font-family: "garamond";
          color:white;
          transition: 0.3s;
          text-decoration:none;
          font-size: 22px;
      }
      
      nav ul li a:hover{
          color:#bbb6b6;
      }
      
      ul li{
          list-style-type: none;
          display: inline-block;
          padding-right: 50px;
      }
      
      nav ul{
          display: inline-block;
      }
      
      nav ul li img{
          width: 50%;
      }
      
      nav header img{
          width: 70%;
      }
/* header*/

  h1, h2, h3{
    font-family: "garamond";
    text-align: center;
  }

.main{
  
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-flow: dense;
   
}

.main>ul{
  padding: 2rem 4rem;
  align-items: center;
  display: grid;
  grid-column: 1/3;
   grid-gap: 0.8rem;
}






.sidebar,.flex-portrait{
 align-items: center;
  text-align: center;
  background-color: #999999;
  padding: 30px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.flex-portrait, img{
  height:100%;
  width: 100%;
  object-fit: cover;
  padding: 30px;
  
}