@font-face {
    font-family: 'AGaramondRegular';
    src: 
         url('font/AGaramondPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
     
  }


.main{
   
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.aboutus{
    display:grid;
}

.faq{
    display:grid;
}

.sidebar{
    display:grid;
}
