$unexisting: #fff;


@import "styleBrunomain.scss";


.header {
    &__title1 {
        text-align: center;
    }
}

.reglement {
    &__main{
        max-width: 650px;
    }
    &__article__regle {
        text-align: justify;
    }
    &__aside { 
        position: fixed;
        transition: 0.5s ease;
        width: 90%;
        top: 15%;
        right: -90%;

        padding-right: 1.5rem;

        &__inscription{
            padding: 2rem;
            .aside__titre3{
                margin-bottom: 0rem;
            }
            .aside__button{
                display: block;
                margin-left: auto;
                padding: 0.5rem;
                width: 7rem;

            }
        }

        &:focus-within{
            right: 0;
        }
    }
    .aside__toggle__button {
        position: absolute;
        transform: rotate(-90deg) translateX(50%);
        transform-origin: right bottom;
        padding: 0.4rem 1rem;
        transition: 0.5s ease;
        right: 100%;
        top: 40%;
        
        i{
            transition: 0.5s ease;
        }

        &:focus {
            z-index: 1;
            i{
                transform: rotate(-180deg);
            }

        }
    }
@media (min-width: 1000px){
    max-width: 1200px;
    margin: auto;
    grid-template-columns: auto 1fr;
    gap: 15px;
    &__header{
        grid-column: span 1;
    }
    &__main{
        grid-area: 2/1/2/2;
    }
    &__aside{
        grid-area: 2/2/3/3;
        display: block;
        position: sticky;
        top: 0;
        right: 0;
        .aside__toggle__button{
            display: none;
        }
    }
}
}
